<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vvitmdc.chats">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My TPC"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PdfView" />
        <activity android:name=".Materials" />
        <activity android:name=".Company" />
        <activity android:name=".ReferenceMaterials" />
        <activity android:name=".ViewUploads" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SearchStudentActivity" />
        <activity android:name=".BranchWiseStatActivity" />
        <activity android:name=".StatistcsActivity" />
        <activity android:name=".UploadSelectionActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity
            android:name=".CommentScrollActivity"
            android:label="@string/title_activity_comment_scroll"
            />
        <!--android:theme="@style/AppTheme.NoActionBar"-->
        <activity
            android:name=".DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForumActivity"
            />
        <activity android:name=".ForumPostActivity"
            android:parentActivityName=".ForumActivity"/>
        <activity android:name=".ChatActivity" />
        <activity android:name=".ExpertsListActivity" />
        <activity android:name=".UserListActivity" />
        <activity
            android:name=".StudentDashboard"
            android:hardwareAccelerated="true" />
        <activity android:name=".TPODashboard" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>